<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Header</key>
		<string>推送设置</string>
		<key>Footer</key>
		<string>如需开启/关闭提醒,请在系统的「设置」- 「通知中心」中进行设置</string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Title</key>
				<string>小说更新提醒</string>
				<key>Detail</key>
				<string>已开启</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>通用设置</string>
		<key>Footer</key>
		<string></string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Title</key>
				<string>书架排序</string>
				<key>Detail</key>
				<string>最近阅读</string>
				<key>AccessoryType</key>
				<string>1</string>
				<key>reg</key>
				<array>
					<string>最近阅读</string>
					<string>更新时间</string>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>书架同步</string>
				<key>Detail</key>
				<string></string>
				<key>Switch</key>
				<false/>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>省流量模式(无头像)</string>
				<key>Detail</key>
				<string></string>
				<key>Switch</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>夜间模式</string>
				<key>Detail</key>
				<string></string>
				<key>Switch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>关于我们V2.26.1</string>
		<key>Footer</key>
		<string></string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Title</key>
				<string>清理网络缓存</string>
				<key>Detail</key>
				<string>0 MB</string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>书籍缓存管理</string>
				<key>Detail</key>
				<string></string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>免责声明</string>
				<key>Detail</key>
				<string></string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>意见反馈</string>
				<key>Detail</key>
				<string></string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>加入我们</string>
				<key>Detail</key>
				<string></string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>请赐予我评分</string>
				<key>Detail</key>
				<string></string>
				<key>AccessoryType</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
