<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>speakers</key>
	<array>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>25</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaoxi.zip</string>
			<key>downloads</key>
			<integer>20806</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>恐怖灵异</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoxi_big.png</string>
			<key>level</key>
			<integer>3</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW94aS5tcDM=</string>
			<key>name</key>
			<string>xiaoxi</string>
			<key>nickname</key>
			<string>方木</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaoxi.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>618</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW94aS56aXA=</string>
			<key>resSize</key>
			<integer>4295</integer>
			<key>sex</key>
			<string>male</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoxi_small.png</string>
			<key>sortId</key>
			<integer>2</integer>
			<key>speakerId</key>
			<integer>51210</integer>
			<key>updateTime</key>
			<string>2018-09-19 19:21:05</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>18</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaoyin.zip</string>
			<key>downloads</key>
			<integer>29025</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>都市言情</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoyin_big.png</string>
			<key>level</key>
			<integer>3</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW95aW4ubXAz</string>
			<key>name</key>
			<string>xiaoyin</string>
			<key>nickname</key>
			<string>方茴</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaoyin.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>616</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW95aW4uemlw</string>
			<key>resSize</key>
			<integer>4281</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoyin_small.png</string>
			<key>sortId</key>
			<integer>4</integer>
			<key>speakerId</key>
			<integer>51115</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:21:07</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>30</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaohou.zip</string>
			<key>downloads</key>
			<integer>25445</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>原创出版</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaohou_big.png</string>
			<key>level</key>
			<integer>3</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9ob3UubXAz</string>
			<key>name</key>
			<string>xiaohou</string>
			<key>nickname</key>
			<string>郭嘉</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaohou.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>620</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9ob3Uuemlw</string>
			<key>resSize</key>
			<integer>5188</integer>
			<key>sex</key>
			<string>male</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaohou_small.png</string>
			<key>sortId</key>
			<integer>4</integer>
			<key>speakerId</key>
			<integer>51200</integer>
			<key>updateTime</key>
			<string>2018-09-19 15:20:57</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>10</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/nannan.zip</string>
			<key>downloads</key>
			<integer>20587</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>普通发音人</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/nannan_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL25hbm5hbi5tcDM=</string>
			<key>name</key>
			<string>nannan</string>
			<key>nickname</key>
			<string>小萝莉</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/nannan.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>624</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL25hbm5hbi56aXA=</string>
			<key>resSize</key>
			<integer>1150</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/nannan_small.png</string>
			<key>sortId</key>
			<integer>7</integer>
			<key>speakerId</key>
			<integer>7</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:21:07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>34</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaofeng.zip</string>
			<key>downloads</key>
			<integer>23476</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>普通发音人</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaofeng_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9mZW5nLm1wMw==</string>
			<key>name</key>
			<string>xiaofeng</string>
			<key>nickname</key>
			<string>男主播</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaofeng.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>608</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9mZW5nLnppcA==</string>
			<key>resSize</key>
			<integer>1125</integer>
			<key>sex</key>
			<string>male</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaofeng_small.png</string>
			<key>sortId</key>
			<integer>8</integer>
			<key>speakerId</key>
			<integer>4</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:21:07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>22</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaojing.zip</string>
			<key>downloads</key>
			<integer>22708</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>普通发音人</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaojing_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9qaW5nLm1wMw==</string>
			<key>name</key>
			<string>xiaojing</string>
			<key>nickname</key>
			<string>邻家姐姐</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaojing.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>606</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9qaW5nLnppcA==</string>
			<key>resSize</key>
			<integer>1226</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaojing_small.png</string>
			<key>sortId</key>
			<integer>9</integer>
			<key>speakerId</key>
			<integer>8</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:21:07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>普通话</string>
			<key>age</key>
			<integer>20</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/jiajia.zip</string>
			<key>downloads</key>
			<integer>23302</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>普通发音人</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/jiajia_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL2ppYWppYS5tcDM=</string>
			<key>name</key>
			<string>jiajia</string>
			<key>nickname</key>
			<string>嘉嘉老师</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/jiajia.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>626</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL2ppYWppYS56aXA=</string>
			<key>resSize</key>
			<integer>1714</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/jiajia_small.png</string>
			<key>sortId</key>
			<integer>11</integer>
			<key>speakerId</key>
			<integer>9</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:21:07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>粤语</string>
			<key>age</key>
			<integer>26</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaomei.zip</string>
			<key>downloads</key>
			<integer>13046</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>粤语</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaomei_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9tZWlfbG9jYWwubXAz</string>
			<key>name</key>
			<string>xiaomei</string>
			<key>nickname</key>
			<string>港姐</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaomei.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>634</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9tZWkuemlw</string>
			<key>resSize</key>
			<integer>1831</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaomei_small.png</string>
			<key>sortId</key>
			<integer>12</integer>
			<key>speakerId</key>
			<integer>15</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>台湾话</string>
			<key>age</key>
			<integer>32</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaolin.zip</string>
			<key>downloads</key>
			<integer>10551</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>台湾话</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaolin_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9saW4ubXAz</string>
			<key>name</key>
			<string>xiaolin</string>
			<key>nickname</key>
			<string>佳宜</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaolin.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>638</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9saW4uemlw</string>
			<key>resSize</key>
			<integer>1616</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaolin_small.png</string>
			<key>sortId</key>
			<integer>13</integer>
			<key>speakerId</key>
			<integer>22</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>湖南话</string>
			<key>age</key>
			<integer>32</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaoqiang.zip</string>
			<key>downloads</key>
			<integer>8089</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>湖南话</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoqiang_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9xaWFuZy5tcDM=</string>
			<key>name</key>
			<string>xiaoqiang</string>
			<key>nickname</key>
			<string>涵涵</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaoqiang.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>636</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9xaWFuZy56aXA=</string>
			<key>resSize</key>
			<integer>600</integer>
			<key>sex</key>
			<string>male</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoqiang_small.png</string>
			<key>sortId</key>
			<integer>14</integer>
			<key>speakerId</key>
			<integer>24</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>四川话</string>
			<key>age</key>
			<integer>32</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaorong.zip</string>
			<key>downloads</key>
			<integer>9843</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>四川话</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaorong_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9yb25nLm1wMw==</string>
			<key>name</key>
			<string>xiaorong</string>
			<key>nickname</key>
			<string>辣妹子</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaorong.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>630</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9yb25nLnppcA==</string>
			<key>resSize</key>
			<integer>489</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaorong_small.png</string>
			<key>sortId</key>
			<integer>15</integer>
			<key>speakerId</key>
			<integer>14</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>河南话</string>
			<key>age</key>
			<integer>28</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaokun.zip</string>
			<key>downloads</key>
			<integer>7722</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>河南话</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaokun_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9rdW4ubXAzCg==</string>
			<key>name</key>
			<string>xiaokun</string>
			<key>nickname</key>
			<string>傻根</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaokun.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>632</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9rdW4uemlw</string>
			<key>resSize</key>
			<integer>580</integer>
			<key>sex</key>
			<string>male</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaokun_small.png</string>
			<key>sortId</key>
			<integer>16</integer>
			<key>speakerId</key>
			<integer>25</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>东北话</string>
			<key>age</key>
			<integer>28</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/xiaoqian.zip</string>
			<key>downloads</key>
			<integer>9844</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>东北话</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoqian_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL3hpYW9xaWFuLm1wMw==</string>
			<key>name</key>
			<string>xiaoqian</string>
			<key>nickname</key>
			<string>女汉子</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/xiaoqian.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>628</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL3hpYW9xaWFuLnppcA==</string>
			<key>resSize</key>
			<integer>735</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/xiaoqian_small.png</string>
			<key>sortId</key>
			<integer>17</integer>
			<key>speakerId</key>
			<integer>11</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>accent</key>
			<string>英文</string>
			<key>age</key>
			<integer>40</integer>
			<key>appid</key>
			<string>5445f87d</string>
			<key>commonExpirationDate</key>
			<string></string>
			<key>desc</key>
			<string></string>
			<key>downloadUrl</key>
			<string>http://iflytek.bjdn.openstorage.cn/tts/87d/resource/catherine.zip</string>
			<key>downloads</key>
			<integer>13246</integer>
			<key>engineType</key>
			<string>local</string>
			<key>engineVersion</key>
			<integer>1</integer>
			<key>ent</key>
			<string></string>
			<key>experienceExpirationDate</key>
			<string></string>
			<key>field</key>
			<string>英文</string>
			<key>isActive</key>
			<integer>1</integer>
			<key>isDefault</key>
			<integer>0</integer>
			<key>isNew</key>
			<integer>0</integer>
			<key>isRecommend</key>
			<integer>0</integer>
			<key>isVip</key>
			<integer>0</integer>
			<key>largeIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/catherine_big.png</string>
			<key>level</key>
			<integer>0</integer>
			<key>listenPath</key>
			<string>aHR0cHM6Ly9iai5vcGVuc3RvcmFnZS5jbi92MS9pZmx5dGVrL3R0cy9jb21tb24vbGlzdGVuL2NhdGhlcmluZS5tcDM=</string>
			<key>name</key>
			<string>catherine</string>
			<key>nickname</key>
			<string>希拉里</string>
			<key>prelisten</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/listen/catherine.mp3</string>
			<key>price</key>
			<integer>0</integer>
			<key>resId</key>
			<integer>640</integer>
			<key>resPath</key>
			<string>aHR0cDovL2lmbHl0ZWsuYmpkbi5vcGVuc3RvcmFnZS5jbi90dHMvODdkL3Jlc291cmNlL2NhdGhlcmluZS56aXA=</string>
			<key>resSize</key>
			<integer>3424</integer>
			<key>sex</key>
			<string>female</string>
			<key>smallIcon</key>
			<string>https://bj.openstorage.cn/v1/iflytek/tts/common/icon/catherine_small.png</string>
			<key>sortId</key>
			<integer>17</integer>
			<key>speakerId</key>
			<integer>20</integer>
			<key>updateTime</key>
			<string>2018-09-19 20:51:08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
